# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# env
.env*
!.env.example

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel