@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.38 0.06 211.49);
  --card: oklch(0.98 0 196.66);
  --card-foreground: oklch(0.38 0.06 211.49);
  --popover: oklch(0.97 0.01 196.81);
  --popover-foreground: oklch(0.38 0.06 211.49);
  --primary: oklch(0.72 0.12 210.36);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.97 0.01 247.91);
  --secondary-foreground: oklch(0.14 0 0);
  --muted: oklch(0.94 0.01 196.81);
  --muted-foreground: oklch(0.55 0.04 256.4);
  --accent: oklch(0.92 0.02 204.76);
  --accent-foreground: oklch(0.57 0.1 213.73);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.93 0.01 256.71);
  --input: oklch(0.93 0.01 256.71);
  --ring: oklch(0.72 0.12 210.36);
  --chart-1: oklch(0.72 0.12 210.36);
  --chart-2: oklch(0.57 0.1 213.73);
  --chart-3: oklch(0.79 0.12 209.45);
  --chart-4: oklch(0.76 0.11 208.7);
  --chart-5: oklch(0.83 0.1 208.33);
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.72 0.12 210.36);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.96 0.02 204.34);
  --sidebar-accent-foreground: oklch(0.57 0.1 213.73);
  --sidebar-border: oklch(0.93 0.01 256.71);
  --sidebar-ring: oklch(0.72 0.12 210.36);

  --font-sans: Inter, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;

  --radius: 0.5rem;

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.81 0.04 226.14);
  --card: oklch(0.23 0.03 218.18);
  --card-foreground: oklch(0.7 0.04 225.59);
  --popover: oklch(0.23 0.03 218.18);
  --popover-foreground: oklch(0.94 0.05 196.31);
  --primary: oklch(0.72 0.12 210.36);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.27 0.01 285.81);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.18 0.02 227.33);
  --muted-foreground: oklch(0.58 0.03 223.55);
  --accent: oklch(0.17 0.02 210.68);
  --accent-foreground: oklch(0.97 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.36 0.02 213.25);
  --input: oklch(0.29 0 0);
  --ring: oklch(0.72 0.12 210.36);
  --chart-1: oklch(0.72 0.12 210.36);
  --chart-2: oklch(0.79 0.12 209.45);
  --chart-3: oklch(0.76 0.11 208.7);
  --chart-4: oklch(0.83 0.1 208.33);
  --chart-5: oklch(0.57 0.1 213.73);
  --sidebar: oklch(0.19 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.72 0.12 210.36);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.24 0 0);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.29 0 0);
  --sidebar-ring: oklch(0.72 0.12 210.36);

  --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
  --shadow-sm:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow: 0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
  --shadow-md:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
  --shadow-lg:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
  --shadow-xl:
    0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
  --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
